$theme-primary: #696969;
$theme-dark: #232323;
$theme-light: #fff;

body {
  background-color: $theme-primary;
  color: $theme-light;
}

.top-bar {
  background-color: $theme-primary;
  color: $theme-light;
  height: 10%;
  .top-bar-title {
    font-size: 40px;
    font-weight: bolder;
    color: darken($theme-light, 20%);
  }
}

footer {
  padding: 20px;
  padding-top: 25px;
  background-color: $theme-primary;
  bottom: 10%;
  height: 10%;
  width: 100%;
  .footer-date {
    color: darken($theme-light, 20%);
    float: right;
  }
}

#main, div[data-reactroot] {
  height: 100%;
}

.container {
  background-color: $theme-dark;
  height: 80%;
  padding: 25px;
}

.track-list {
  max-height: 75%;
  overflow-y: auto;
}

.track {
  background-color: $theme-light;
  color: $theme-dark;
  padding: 10px;
  margin-bottom: 10px;
  text-align: left;
  max-width: 800px;
  .track-player {
    display: inline-block;
    float: left;
    padding: 5px;
    width: 100px;
  }
  .track-info {
    width: 80%;
    white-space: nowrap;
  }
  .track-name {
    font-weight: bold;
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 25px;
    font-weight:300;
  }
  .track-album-name {
    color: $theme-primary;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .track-number {
    color: lighten($theme-primary, 20%);
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
